extends layout

block content
  h1= "SIM List"
  h4= sims
  p <p><a href="/whoami">My user info</a></p><p><a href="/systems">My systems</a></p><p><a href="/applications">My applications</a>
  p <a class='logout' href="/logout">LOGOUT</a>